{% extends 'medical_services/base.html' %}
{% load my_tags_medical_services %}
{% block content %}
{% for object in object_list %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">
                Категория: {{ object.category | slice:":100" }}
            </p>
            <p class="card-text">
                Название: {{ object.services_title | slice:":100" }}
            </p>
            <p class="card-text">
                Описание: {{ object.services_description | slice:":100" }}
            </p>
            <p class="card-text">
                Цена: {{ object.price | slice:":100" }} рублей
            </p>
            <p class="card-text">
                Срок выполнения: {{ object.deadline| slice:":100" }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <form id="addToCartForm" data-service-id="{{ object.id }}">
                        {% csrf_token %}
                        <input type="button" class="btn btn-sm btn-info" value="Назад" onclick="history.back()">
                        {% if user.is_authenticated %}
                        <button type="button" class="btn btn-sm btn-success" id="buyButton">Купить</button>
                        <a class="btn btn-sm btn-dark" href="{% url 'medical_services:service_cart' %}">Корзина</a>
                        {% endif %}
                    </form>
                </div>
                <small id="messageBox" class="text-muted"></small>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    document.querySelectorAll('#buyButton').forEach(button => {
        button.addEventListener('click', function() {
            const serviceId = this.closest('form').getAttribute('data-service-id');
            fetch(`/add_to_cart/${serviceId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ service_id: serviceId })
            }).then(response => {
                if (response.ok) {
                    document.getElementById('messageBox').innerText = 'Услуга успешно добавлена в корзину!';
                } else {
                    document.getElementById('messageBox').innerText = 'Ошибка при добавлении в корзину';
                }
            }).catch(error => {
                console.error('Ошибка:', error);
            });
        });
    });
</script>
{%  endblock %}